body{
    font-size: 12px;
    background-color: rgb(245, 245, 240);*/
    height: 99%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    display: block;
    box-sizing: border-box;
}

header {
    background: #0067b1;
    position: static;
    width: 100%;
    z-index: 9999;
}

footer{
    background: rgb(218, 211, 211);
    height: 400px;
    width: 100%;
}

.OpcionesPantalla{
    display: flex;
}

.iconoInicio{
    position: relative;
    top: 7px;
    padding-left: 16px;
    font-size: 20px;
}

.menu{
    padding: 6px;
    font-size: 15px;
    font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}   

.TituloMenu{
    color: black ;
    font-size: 20px;
    margin-top: 10px;
    font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}   

.opcionesMenu{
    /*background-color: rgb(83, 223, 223);*/
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 250);
    margin: 70px 10px 250px 100px;
    padding: 15px 20px 25px 30px;
    height: 700px;
    width: 400px;
}


.opcionesMenu2{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 240);
    margin: 400px 1px 1px 10px;
    padding: 15px 20px 25px 30px;
    height: 700px;
    width: 550px;
}


.imgInicio{
    margin: 10px 1px 1px 50px;
    padding: 15px 20px 25px 30px;
    display: flex;
    height: 400px;
    width: 20px;
}



.tablasPaginas{
    background: #0067b1;
    display: flex;
    flex-direction: column;
    margin: 70px 10px 250px 10px;
    padding: 15px 20px 25px 30px;
    background-color: rgb(255, 255, 250);
    height: 700px;
    width: 70%;
}

table{
    width: 100%;
    border-collapse: collapse;
}   

th , td{
    border: solid 1px #eee;
    padding: 5px;
}       

th{
    background-color: rgb(69, 69, 146) ;
    color: white;
    block-size: 50px;
    text-align: center;
} 

tr:nth-child(even){
    background-color: rgb(153, 217, 234) ;
}   

tr:hover{
    background-color: #aaa;
} 

.mensaje{
    font-size: 25px;
    flex-direction: column;
    font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}   

.mensaje1{
    font-size: 15px;
    flex-direction: column;
    font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: rgb(119, 111, 111);
    font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 1550px;
}   

.botonIngreso{
    background-color: rgb(255, 255, 250);
    flex-direction: column;
    margin: 10px 1px 1px 10px;
    padding: 25px 10px 10px 100px;
    height: 100px;
    width: 450px;
    font-size: 18px;
}   

.opcionesMenu3{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 240);
    margin: 400px 1px 1px 10px;
    padding: 15px 20px 25px 30px;
    height: 700px;
    width: 550px;
}

.botonIngreso1{
    background-color: rgb(255, 255, 250);
    flex-direction: column;
    margin: 10px 1px 1px 10px;
    padding: 25px 10px 10px 25px;
    height: 100px;
    width: 450px;
    font-size: 18px;
}   


.OpcionesPantallaFooter{
    display: flex;
}

.opcionesFooter{
    display: flex;
    flex-direction: column;
    background: rgb(218, 211, 211);
    margin: 5px 10px 250px 100px;
    padding: 5px 20px 25px 30px;
    height: 100px;
    width: 400px;
}

.mensajeFooter{
    font-size: 25px;
    flex-direction: column;
    font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}   

.mensajeInicio{
    background: rgb(218, 211, 211);
    font-size: 25px;
    flex-direction: column;
    font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: 300px 1px 1px 500px;
    height: 80px;
    width: 500px;
}   


.opcionesFooter1{
    display: flex;
    flex-direction: column;
    /*background: rgb(231, 227, 227);*/
    background: rgb(218, 211, 211);
    margin: 5px 10px 250px 300px;
    padding: 5px 20px 25px 30px;
    height: 200px;
    width: 400px;
}

.iconorRedSocial{
    position: relative;
    /*margin: 40px ;*/
    /*padding: 15px;*/
    font-size: 10px;
    height: 100px;
    width: 300px;
}


.InicioSeccion{
    border-radius: 32px;
    padding: 6px 12px;
    background-color: yellow;
    text-decoration-line: none;
    font-size: .875rem;
    letter-spacing: .035px;
    color: red;
    text-decoration: underline;
    /*outline: auto;*/
    box-sizing: border-box;
    box-sizing: content-box;
    margin-left: 1500px;
}

a:hover {
    color: red;
  }

span:hover {
    color: blue;
 }

 section:hover {
    background: rgb(255, 255, 250) ;
}   


.mensajeconstruccion{
    /*background-color: aqua;*/
    font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: blue;
}


/* ESTILOS PARA FORMULARIO*/

form{
    position: absolute;
    top: 100px ;
    left: 35%;
    width: 30%;
    text-align: center;
    background: white ;
    border-radius: 15px;
}   

form>img{
    width: 80%;
    padding-bottom: 30px;
    margin-top: 15%;
}   

form>input{
    width: 80%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    border-color: blue;
    font-size: 15px;
}   

form>input:focus{
    outline: none;
}   

form>button{
    width: 50%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 20px;
    border-color: beige;
}   

.error , .IngresoExitoso {
    display: none;
}

.mostrarMensaje {
    color: red;
    display: block;
}